@model TConsultigSA.Models.DetallesHorasViewModel

<div class="modal-header">
    <h5 class="modal-title" id="detallesHorasModalLabel">Detalles de Horas Trabajadas</h5>
</div>
<div class="modal-body">
    <p><strong>Nombre del Empleado:</strong> @Model.NombreEmpleado</p>
    <p><strong>Mes:</strong> @Model.Mes</p>
    <p><strong>Horas Trabajadas:</strong> @Model.HorasTrabajadas</p>
    <p><strong>Observaciones:</strong> @Model.Observaciones</p>
    <p><strong>Estado:</strong> @Model.Estado</p>
</div>

